

						/*--- Body ---*/
body { /* Main Body */
	background-color: #1a1a1a;
}

	#Logo {
	height: 100px;
	width: 500px;
	border: 5px solid gray;
	border-radius: 20px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	}

	#CenBox { 
	border: 2px solid gray;
	border-radius: 10px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	Padding: 10px;
	left: 50%;
	top: 50%;
	display: inline-block;
	}

	
	
	#Merh { /* Merh. Name */ 
		Background-color: #1a1a1a; 
		border-radius: 10px; 
		float: right;
		height: 70px;
		width: 100px0px;
	}


						/*--- Links ---*/
a:link { /* All Links */
	color: #008080;
	font-weight: bold;
	text-decoration: none;
}

a:hover { /* All Links */
	color: #006400;
	font-weight: bold;
	text-decoration: Underline;
}


						/*--- Fixed Box ---*/
	.FixBox{ /* Fixed box */
		height: 90px;
		width: 270px;
		border: 2px solid gray;
		border-radius: 20px;
		position: absolute;
		right: 10px;
		top: 100px;
		text-align: center;
		background: url(http://i.imgur.com/zZUbQxs.png);
	}
	
		#FixDiv { /* Fixed Box for Table of Links */
			height: 500px;
			width: 260px;
			border: 2px solid gray;
			border-radius: 20px;
			background: url(http://i.imgur.com/zZUbQxs.png);
			display: inline-block;
			text-align: center;
		}
		
			#TBord { /* Table of Links */
				Background-color:Lightgray;
				border-radius: 10px;
				margin: auto;
			}
			
			
			
						/*--- Dice JavaScript Box---*/
#DiceBoxes {
	width: 400px;
	height: 100px;
	text-align: center;
	padding: 5px;
	border: 2px solid gray;
	border-radius: 20px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	display: inline-block;
}

	div.dice{
		float:left;
		width:32px;
		background:#F5F5F5;
		border:#999 1px solid;
		border-radius: 100px;
		padding:10px;
		font-size:24px;
		text-align:center;
		margin:5px;
	}

	
	.Button {
		-moz-box-shadow:inset 0px 1px 3px 0px #75a8a1;
		-webkit-box-shadow:inset 0px 1px 3px 0px #75a8a1;
		box-shadow:inset 0px 1px 3px 0px #75a8a1;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1a1a1a), color-stop(1, #328f8f));
		background:-moz-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-webkit-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-o-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-ms-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:linear-gradient(to bottom, #1a1a1a 5%, #328f8f 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#328f8f',GradientType=0);
		background-color:#1a1a1a;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #1a1a1a;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		padding:11px 23px;
		text-decoration:none;
		text-shadow:0px -1px 0px #2e6b62;
	}
	.Button:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #328f8f), color-stop(1, #1a1a1a));
		background:-moz-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-webkit-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-o-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-ms-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:linear-gradient(to bottom, #328f8f 5%, #1a1a1a 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#328f8f', endColorstr='#1a1a1a',GradientType=0);
		background-color:#328f8f;
	}
	.Button:active {
		position:relative;
		top:1px;
	}


	/* Code and Programing by:
			:Dalian Hayes~ */
