/* css for NeraRecords.Html */ /* */

/*------ Testing Area! ------*/


/*------ Testing Area! ------*/

#NNR- html {overflow-x: scroll;}
#page-wrap { width: 99.5%; }

			/*------ Header ------*/
#NNR- #Logo { /* Box for Logo and header */
	height: 90px;
	border: 5px solid gray;
	border-radius: 15px 15px 15px 15px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	margin-bottom: 5px;
	}
		#NNR- #Logo img {
			height: 76px;
			width: 80x;
			padding: 7px;
			border: 5px solid gray;
			border-radius: 15px 0px 0px 15px;
			position: absolute;
			left: 4px;
			margin-top: -5px;
			background: url(http://i.imgur.com/zZUbQxs.png);
		}
		#NNR- #Nera {
			height:80px;
			padding: 5px;
			border: 5px solid gray;
			position: absolute;
			left: 95px;
			margin-top: -5px;
			background: url(http://i.imgur.com/zZUbQxs.png);
		} #NNR- #Nera .test {font-size:2.8vw; padding:5px;}
		
		#NNR- #Clock {
			border: 2px solid gray;
			border-radius: 3px 3px 3px 3px;
			display: inline-block;
			position: absolute;
			right: 28px;
			margin-top: 8px;
		}
		/* The container <div> - needed to position the dropdown content */
		#NNR- .dropdown {
			position: absolute;
			display: inline-block;
			right: 13px;
			float: right;
			margin-top: 35px;
		}#NNR- .dropdown-content { right:10px; border-radius: 12px; margin-top: 5px;}
		
#NNR- #LiBox {	 /* Box for Left Body */
	float: left;
	height: 810px;
	width: 193px;
	border: 5px solid gray;
	border-radius: 20px 0px 0px 0px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	clear: left;
	display: inline-block;
}

#NNR- .CenBox { /* Box for Center Body */
	height: 795px;
	border: 5px solid gray;
	border-radius: 2px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	margin-top: 9px;
	margin-left: 5px;
	display: inline-block;
	width:50%; 
	width:calc(99% - 417px); 
	min-width:350px; 
}
	#NNR- #Messages {
		height:650px;
		width: 55%;
		border: 3px solid gray;
		border-radius: 5px 5px 5px 5px;
		margin-left: 5px;
		Float: left;
		background: url(http://i.imgur.com/zZUbQxs.png);
	}
	#NNR- #Updates{
		height:650px;
		width: 40%;
		border: 3px solid gray;
		border-radius: 5px 5px 5px 5px;
		margin-right: 5px;
		float: right;
		background: url(http://i.imgur.com/zZUbQxs.png);
	}

#NNR- #RiBox { /* Box for Right Body */
		float: right;
		height: 810px;
		width: 193px;
		border: 5px solid gray;
		border-radius: 0px 20px 0px 0px;
		background: url(http://i.imgur.com/zZUbQxs.png);
		clear: right;
		display: inline-block;
	}


						/*--- Footer ---*/
#NNR- #Footer { 
	background: LightGray url(http://i.imgur.com/zZUbQxs.png) 0 0 repeat-x; 
	height: 50px;
	border: 5px solid gray;
	border-radius: 0px 0px 19px 19px;
	margin: auto;
	margin-top: 10px;
	clear: both;
}
	#NNR- #Footer address { 
		color: #008080; 
		font-style: normal; 
		font-size: 9px; 
		height:23px; 
		margin: 0px; 
		padding: 8px 0 0;
		text-align: center; 
	}
	
	#NNR- #Footer address span {
		color: #008080; 
		font-family: Tahoma, "Times New Roman", Times, serif; 
		font-size: 12px; 
		font-weight:normal;  
		margin-right:6px; 
		text-transform:uppercase; 
	}
	
		#NNR- #Inform { /* Inform. button */
		float: right;
		border-radius: 8px;
		margin-top: -5px;
		margin-right: 2px;
		}
	
	#NNR- #Merh { /* Merh. Name */ 
		Background-color: #1a1a1a; 
		border-radius: 10px; 
		float: right;
	}		

	/* © Copyright Dalian Hayes, 2015-2018~ Source Help from CodeAcademy.com 
					Detailed Copyright Notice at :http://Smokezarn.github.io/Pages/CRN */
