/* css for NeraRecords.Html */ /* */

/*------ Testing Area! ------*/



/*------ Testing Area! ------*/

html {overflow-x: hidden}

				/*--- Links ---*/
	a:link { /* All Links */
		color: #008080;
		font-weight: bold;
		text-decoration: none;
	}

	a:hover { /* All Links */
		color: #006400;
		font-weight: bold;
		text-decoration: none;
	}
	
							/*--- Fixed Box ---*/
	.FixBox{ /* Left Side Box with clock */
		height: 150px;
		width: 220px;
		border: 2px solid gray;
		border-radius: 0px 20px 20px 20px;
		position: absolute;
		left: 19px;
		margin-top: 30px;
		text-align: center;
		background: url(http://i.imgur.com/zZUbQxs.png);
	}
	
	#FixDiv { /* Right Side Box for Table of Links */
		height: 185px;
		width: 200px;
		border: 2px solid gray;
		border-radius: 0px 0px 20px 20px;
		position: absolute;
		display: inline-block;
		right: 19px;
		top: 80px;
		background: url(http://i.imgur.com/zZUbQxs.png);
	}
	
					/*--- Body ---*/
	body { /* Main Body */
		background-color: #1a1a1a;
	}

	#Logo { /* Box for Logo and header */
	height: 320px;
	width: 99.4%;
	border: 5px solid gray;
	border-radius: 0px 15px 0px 15px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	}

	/*-- Email Form-Box --*/
.CenBox { /* Box for Center Body */
	border: 5px solid gray;
	border-radius: 2px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	margin-top: 9px;
	display: inline-block;
}
	
	/*-- Body Div boxes --*/	
	
		#CoffeeMug {
			display: inline-block;
			margin: auto;
			position: absolute;
		}
		
#LiBox {	 /* Box for Left Body */
	float: left;
	height: 810px;
	width: 193px;
	border: 5px solid gray;
	border-radius: 20px 0px 0px 0px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	clear: left;
	display: inline-block;
}
	

#RiBox { /* Box for Right Body */
		float: right;
		height: 810px;
		width: 193px;
		border: 5px solid gray;
		border-radius: 0px 20px 0px 0px;
		background: url(http://i.imgur.com/zZUbQxs.png);
		clear: right;
		display: inline-block;
	}


						/*--- Footer ---*/
#Footer { 
	background: LightGray url(http://i.imgur.com/zZUbQxs.png) 0 0 repeat-x; 
	height: 70px;
	border: 5px solid gray;
	border-radius: 0px 0px 19px 19px;
	margin: auto;
	margin-top: 10px;
	clear: both;
}
	#Footer address { 
		color: #008080; 
		font-style: normal; 
		font-size: 9px; 
		height:23px; 
		margin: 0px; 
		padding: 8px 0 0;
		text-align: center; 
	}
	
	#Footer address span {
		color: #008080; 
		font-family: Tahoma, "Times New Roman", Times, serif; 
		font-size: 12px; 
		font-weight:normal;  
		margin-right:6px; 
		text-transform:uppercase; 
	}
	
	#Top { /* Top. button */
	float: left;
	Background-color:gray;
	border-radius: 8px;
	border: solid 1px black;
	}
	
		#Inform { /* Inform. button */
		float: right;
		Background-color:gray;
		border-radius: 8px;
		border: solid 1px black;
		}
	
	#Merh { /* Merh. Name */ 
		Background-color: #1a1a1a; 
		border-radius: 10px; 
		float: right;
	}
		
	.Button {
		-moz-box-shadow:inset 0px 1px 3px 0px #75a8a1;
		-webkit-box-shadow:inset 0px 1px 3px 0px #75a8a1;
		box-shadow:inset 0px 1px 3px 0px #75a8a1;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1a1a1a), color-stop(1, #328f8f));
		background:-moz-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-webkit-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-o-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-ms-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:linear-gradient(to bottom, #1a1a1a 5%, #328f8f 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#328f8f',GradientType=0);
		background-color:#1a1a1a;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #1a1a1a;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		padding:11px 23px;
		text-decoration:none;
		text-shadow:0px -1px 0px #2e6b62;
	}
	.Button:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #328f8f), color-stop(1, #1a1a1a));
		background:-moz-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-webkit-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-o-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-ms-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:linear-gradient(to bottom, #328f8f 5%, #1a1a1a 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#328f8f', endColorstr='#1a1a1a',GradientType=0);
		background-color:#328f8f;
	}
	.Button:active {
		position:relative;
		top:1px;
	}		

	/* © Copyright Dalian Hayes, 2015-2016~ Source Help from CodeAcademy.com 
					Detailed Copyright Notice at :http://Smokezarn.github.io/Pages/CRN */
