/* css for AboutUs Page */ /* */

/*------ Testing Area! ------*/


/*------ Testing Area! ------*/

html {overflow-x: hidden}

				/*--- Links ---*/
	a:link { /* All Links */
		color: #008080;
		font-weight: bold;
		text-decoration: none;
	}

	a:hover { /* All Links */
		color: #006400;
		font-weight: bold;
		text-decoration: none;
	}
	
					/*--- Fixed Box ---*/

					/*--- Body ---*/
	body { /* Main Body */
		background-color: #1a1a1a;
	}
	.modal-header {
	background: url(http://i.imgur.com/zZUbQxs.png);
	border-radius: 4px 4px 0px 0px;
	}

	.modal-body {
		background: url(http://i.imgur.com/zZUbQxs.png)
	}

	.modal-footer {
		background: url(http://i.imgur.com/zZUbQxs.png);
		border-radius: 0px 0px 4px 4px;
	}

	.modal-backdrop {
	background-color: #333;
	}


	#Logo { /* Box for Logo and header */
	height: 80px;
	width: 99.4%;
	border: 5px solid gray;
	border-radius: 15px 15px 0px 0px;
	background: url(http://i.imgur.com/zZUbQxs.png);
	}
		#Logo img {
			height: 80px;
			width: 80x;
			padding: 7px;
			border: 5px solid gray;
			border-radius: 15px 0px 0px 0px;
			position: absolute;
			left: 4px;
			margin-top: -5px;
			background: url(http://i.imgur.com/zZUbQxs.png);
		}
		#Nera {
			height:80px;
			padding: 10px;
			border: 5px solid gray;
			border-radius: 0px 0px 0px 0px;
			position: absolute;
			left: 80px;
			margin-top: -5px;
			background: url(http://i.imgur.com/zZUbQxs.png);
		}
		#Clock {
			border: 4px solid gray;
			border-radius: 3px 3px 3px 3px;
			position: absolute;
			right: 15px;
			margin-top: 8px;
		}
		/* The container <div> - needed to position the dropdown content */
		.dropdown {
			position: absolute;
			display: inline-block;
			right: 130px;
			margin-top: 13px;
		}
			/* Dropdown Content */
		.dropdown-content {display: none;position: relative;z-index: 1;background: url(http://i.imgur.com/zZUbQxs.png);min-width: 160px;box-shadow: 0px 10px 16px 0px rgba(0,0,1,1);}
		.dropdown-content a {padding: 12px 16px;text-decoration: none;display: block;}
		.dropdown-content a:hover {background-color: darkgray}
		/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
		.show1{display:block;}
		.show2 {display:block;}
		.show3 {display:block;}
	
					/*--- Center Box in Body ---*/
	#CenBox{
		height: 800px;
		width: 99.4%;
		margin-top: 5px;
		border: 5px solid gray;
		border-radius: 0px;
		background: url(http://i.imgur.com/zZUbQxs.png);
	}
		#AboutUs {
			height: 775px;
			width: 50%;	
			left: 15px;
			margin-top: 10px;
			border: 4px solid gray;
			border-radius: 5px 5px 5px 5px;
			position: absolute;
			overflow-y: scroll
		}
		#Discord{
			height:800px;
			width: 360px;
			position: absolute;
			right: 10px;
			margin-top: 10px;
		}
			#CenBox iframe { /*--- Discord Readout ---*/
				right: 19px;
				margin-top: 10px;
			}
			
			#information { /*--- Discord/Server Information ---*/
				height: 160px;
				width: 350px;
				border: 2px solid gray;
				border-radius: 5px 5px 5px 5px;
				right: 16px;
				bottom: 12px;
				z-index: 1;
				background: url(http://i.imgur.com/zZUbQxs.png);
			}
			#information img:hover{
				box-shadow: 0px 8px 16px 16px rgba(0,0,0,0.2);
			}
			#Sugg {
				margin-top:5px;
			}
		
						/*--- Footer ---*/
#Footer { 
	background: LightGray url(http://i.imgur.com/zZUbQxs.png) 0 0 repeat-x; 
	height: 45px;
	width: 99.4%;
	border: 5px solid gray;
	border-radius: 0px 0px 19px 19px;
	margin-top: 5px;
}
	#Footer address { 
		color: #008080; 
		font-style: normal; 
		font-size: 9px; 
		height:23px; 
		margin: 0px; 
		padding: 8px 0 0;
		text-align: center; 
	}
	
	#Footer address span {
		color: #008080; 
		font-family: Tahoma, "Times New Roman", Times, serif; 
		font-size: 12px; 
		font-weight:normal;  
		margin-right:6px; 
		text-transform:uppercase; 
	}
	
	.Button, .dropbtn{
		-moz-box-shadow:inset 0px 1px 3px 0px #75a8a1;
		-webkit-box-shadow:inset 0px 1px 3px 0px #75a8a1;
		box-shadow:inset 0px 1px 3px 0px #75a8a1;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1a1a1a), color-stop(1, #328f8f));
		background:-moz-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-webkit-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-o-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:-ms-linear-gradient(top, #1a1a1a 5%, #328f8f 100%);
		background:linear-gradient(to bottom, #1a1a1a 5%, #328f8f 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#328f8f',GradientType=0);
		background-color:#1a1a1a;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #1a1a1a;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		padding:10px 23px;
		text-decoration:none;
		text-shadow:0px -1px 0px #2e6b62;
	}
	.Button:hover, .dropbtn:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #328f8f), color-stop(1, #1a1a1a));
		background:-moz-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-webkit-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-o-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:-ms-linear-gradient(top, #328f8f 5%, #1a1a1a 100%);
		background:linear-gradient(to bottom, #328f8f 5%, #1a1a1a 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#328f8f', endColorstr='#1a1a1a',GradientType=0);
		background-color:#328f8f;
	}
	.Button:active , .dropbtn:active {
		position:relative;
		top:1px;
	}		

	/* © Copyright Dalian Hayes, 2015-2018~ 
					Detailed Copyright Notice at :http://Smokezarn.github.io/Pages/CRN */
